html{
  font-size: 62.5%;
  box-sizing: border-box;
  background-color:#fbe2ed;
}

body{
  background-image:url(public/background.jpg);
  background-position: center;
  background-color: #fbe2ed;
  background-attachment:fixed;
  background-repeat: no-repeat;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.game-header-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
  background-color: #f9f5f9;
}
  .game-body {
    background-color: #f5ecf4;
    padding: 20px;
    border-radius: 8px;
}

.u-center {
    text-align: center;
}


