html{
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #f9f5f9;
}

body{
  font-size: 1.6rem;
  max-width: 68.75em;
  margin: 0 auto;
  font-family: "Press Start 2P", system-ui;
  padding: 1rem 0;
  color: #333;
  overflow:hidden;
}
.game-header-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
  background-color: #f9f5f9;
}
  .game-body {
    background-color: #fdf3fc;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}

.u-center {
    text-align: center;
}
button{
  align-items: center;
}

